.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "header header"
    "header header"
    "nav nav"
    ;
}
.grid-item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: aquamarine;
}
.grid-item-2{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 0, 255);
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:nth-child(even){
    background-color: blueviolet;
}
.grid-item:nth-child(odd){
    background-color: yellowgreen;
}