 html,body{
    background: linear-gradient(to top, red,blue);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
     height: 100vh; /*makes fill all of page */
}
