a{
    text-decoration: none;
    color: blue;
}
a:visited{
    color: rgb(255, 0, 0);
}
a:hover{
    text-decoration: underline;
    color: black;
}
section label,input{
    margin: 20px;
}
input:focus{
    border: none;
    outline: rgb(21, 255, 0) dashed 2px;
    background-color: aqua;
}