body{text-align: center;}
h1 {
    color: aqua;
    background-color: yellowgreen;
    border: 2px black solid;
}
.test {
    background-color: blueviolet;
    color: aqua;
    border: 2px black solid;
}
#monk {color: red;
font-weight: bold;}