.card{
    background-image: url("../background.jpg");
    background: linear-gradient(rgba(126, 24, 24, 0.5),rgba(236, 152, 152, 0.5)), url("../background.jpg");
    background-repeat: no-repeat;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
}
h2{
color: red;
} 
.p1 {
    color: #fff;
}

.p2 {
    color: hsl(184, 100%, 50%);
}

