.overlay{
    position: fixed;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.541);
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   background: linear-gradient(red,blue);
    height: 100px;
    padding: 10px;
}
button{
    background-color: green;
}